*{
    margin:0px;
    padding:0px;
}

header .container {
    width:100%;
    height: 60px;
    background-color:black;
    display:flex;
    justify-content: space-between;
}

header.container,.container-logo{
    width:30%;
    line-height: 40px;
    background-color:green;
}

header.container,.container-menu,ul{
    width:70%;
    line-height: 70px;
    display:flex;
    justify-content: flex-end;
}

header.container,.container-menu, li{
    padding-left:15px;
    padding-right:15px;
    list-style: none;
    
}

header.container.container-menu li, a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display:flex;
    justify-content: space-between;
    align-items: center;

    
}
header.container.container-menu li a,img{
    width:30px;
    height:30px;
    padding-right:10px;
    
}

header.container .container-menu, li:hover{
    background-color: gray;
}